<h2>Sign up as an Administrator</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div>
	<%= f.label :name %><br>
	<%= f.text_field :name, autofocus: true %>
</div>

<div>
	<%= f.label :designation %><br>

	<select name="administrator[designation]">

		<option value="5">Student Member</option>
		<option value="1">Coordinator</option>

	</select>

</div>

<div>
	<%= f.label :email %><br />
	<%= f.email_field :email %>
</div>

<div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
	<%= f.password_field :password, autocomplete: "off" %>
</div>

<div><%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<br/>

<div>
	<input type="submit" class="btn btn-success" value="Create Administrator">
</div>
<% end %>

<%= render "devise/shared/links" %>
