<% if params[:contributor_id] %>

<h2> All posts by <%= Contributor.find(params[:contributor_id]).name %> (ID <%= params[:contributor_id] %>) </h2>

<% else %>

<h2>List of all posts</h2>

<% end %>

<table class="table">

	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Content</th>
		<th>Tags</th>
		<th>written by</th>
		<th>Posted at</th>
		<th></th>
	</tr>

	<% @posts.each do |post| %>

	<tr>

		<td><%= post.id %></td>
		<td><%= post.title %></td>
		<td><%= post.content %></td>
		<td><%= post.tags %></td>
		<td>
			<a href="<%= contributors_path %>/<%= post.contributor_id %>">
				<%= Contributor.find(post.contributor_id).name %>
			</a>
		</td>
		<td><%= post.created_at %></td>
		<td>
			<a href="<%= posts_path %>/<%= post.id %>">
				<button class="btn btn-info">
					See Post
				</button>
			</a>
		</td>


	</tr>

	<% end %>

</table>