<h2>List of all Contributors</h2>

<table class="table">

	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</tr>

	<% @contributors.each do |contributor| %>

	<tr>

		<td><%= contributor.id %></td>
		<td><%= contributor.name %></td>
		<td><%= contributor.email %></td>
		<td>
			<a href="<%= contributors_path %>/<%= contributor.id %>">
				<button class="btn btn-success">
					Show Contributor
				</button>
			</a>
		</td>

		<td>
			<a href="<%= contributors_path %>/<%= contributor.id %>/posts/">
				<button class="btn btn-success">
					Posts by this contributor
				</button>
			</a>
		</td>


	</tr>

	<% end %>

</table>